@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-600);
        --color-accent-foreground: var(--color-white);
    }

    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}
